// Colors

    // Primary
     $Light_Blue: #a3a8f0;
     $Dark_Blue: #696fdd;
    
     // Neutral
     $Very_Light_Grayish_Blue: #f6f6fe; 
     $Light_Grayish_Blue: #b3b5c6;
     $Grayish_Blue: #6d708d;
     $Dark_Grayish_Blue: hsl(232, 13%, 33%);